/**
 * @author Wellinger Chloé
 * @reviewer Nicolas Jean-François, Halet Louis
 */

/* Allows you to reduce the fullcalendar toolbar */
.fc .fc-toolbar {
    padding: 4px 8px !important;
}

.fc .fc-toolbar-title {
    font-size: 1.3rem !important;
}

.fc .fc-button {
    padding: 2px 8px !important;
    font-size: 1rem !important;
}

#calendar {
    font-size: 0.95rem;
}

/* Allows you to put all the modals with rounded corners */
#modalRDV .modal-content,
#modalEvent .modal-content {
    border-radius: 16px !important;
    overflow: hidden;
}

.fc-event {
    overflow: hidden !important;
}

.fc-event .p-1 {
    overflow: hidden;
    max-height: 100%;
}

.fc-event .small,
.fc-event .fw-bold {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}